:root {
    --text: #050315;
    --background: #fbfbfe;
    --primary: #2f27ce;
    --secondary: #dedcff;
    --accent: #433bff;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: sans-serif;
    font-weight: 400;
    background-color: var(--background);
    color: var(--text);
    display: grid;
}

h1, h2, h3, h4, h5 {
    font-family: sans-serif;
    font-weight: 700;
}

html {font-size: 100%;}
h1 {font-size: 4.210rem;}
h2 {font-size: 3.158rem;}
h3 {font-size: 2.369rem;}
h4 {font-size: 1.777rem;}
h5 {font-size: 1.333rem;}
small {font-size: 0.750rem;}

.title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 60px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 25%;
}

.form-wrapper form {
    display: flex;
    width: 100%;
    gap: 16px;
}

.form-wrapper form .text-area {
    height: 50px;
    flex: 8;
    padding: 0 16px;
    border: 1px solid var(--accent);
    border-radius: 5px;
    font-weight: 700;
    outline-color: var(--primary);
}

.form-wrapper form .add-button {
    height: 50px;
    flex: 2;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--primary);
    color: white;
}

.tasks-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px 28%;
}

.tasks-wrapper .task-block {
    display: flex;
    gap: 16px;
    font-weight: 700;
    border-bottom: 1px solid var(--text);
    border-spacing: 400px;
    align-items: center;
    padding: 8px 0;
}

.tasks-wrapper .task-block .checkbox {
    appearance: none;
    height: 25px;
    width: 25px;
    cursor: pointer;
    border: 1px solid var(--text);
    border-radius: 5px;
}

.tasks-wrapper .task-block .checkbox:checked {
    background-color: var(--primary);
    border-color: var(--primary);
    outline-color: var(--accent);
}

.tasks-wrapper .task-block .checkbox:checked::after {
    content: '\2714';
    color: white;
    display: block;
    text-align: center;
    font-size: 16px;
}

.checkbox:checked + .task {
    color: grey;
    text-decoration: line-through;
    font-style: italic;
}
