<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>TODO App</title>
</head>
<body>
    <header>
        <h2 class="title">Flask Todo App</h2>
    </header>
    <main>
        <div class="form-wrapper">
            <form method="post">
                <input class="text-area" type="text" name="task" placeholder="Add Task..."/>
                <input class="add-button" type="submit" value="ADD"/>
            </form>
        </div>
        <div class="tasks-wrapper">
            {% for key in tasks %}
                <div class="task-block">
                    <input class="checkbox" type="checkbox" data-id={{ key.id }} {% if key.status == "complete" %} checked {% endif %}>
                    <p class="task">{{ key.task }}</p>
                </div>
            {% endfor %}
        </div>
    </main>
    <footer>
        <small>© Made By Vespine</small>
    </footer>
    <script>
        document.querySelectorAll('.checkbox').forEach(checkbox => {
            checkbox.addEventListener('change', function() {
                const taskId = this.getAttribute('data-id');
                const isChecked = this.checked;

                fetch('/update_status', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ id: taskId, status: isChecked ? 'complete' : 'incomplete' }),
                }).then(response => {
                    if (!response.ok) {
                        alert('Failed to update task status');
                    }
                });
            });
        });
    </script>
</body>
</html>